.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  background-color:white;
  width:72px;
  top: 56px;
  display:flex;
  z-index: 200;
  flex-direction: column;
}

.sidebar-icon-container{
  height:74px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.sidebar-icon-container:hover{
  background-color: #e4e4e4;
}

.sidebar-icon-container > img{
  height:24px;
  margin-bottom:6px;
}

.sidebar-icon-container div{
  font-family:roboto , Arial;
  font-size:10px;
}